<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <%- include("partials/header") %>
  <p>Hello, <%= userName %> </p>
  <ul>
    <% userSkills.forEach(skill => { %>
    <li><%= skill %></li>
    <% }) %>
  </ul>
  <% if (userCity) { %>
  <p>You are from <%= userCity %>.</p>
  <% } else { %>
  <p>No location provided.</p>
  <% } %>
  <%- include("partials/footer") %>
</body>

</html>